<div layout="column" ng-cloak="">
    <md-toolbar class="md-whiteframe-z2 content-header">
        <h1 class="md-toolbar-tools md-display-1">
            <b>注册</b>
        </h1>
    </md-toolbar>

    <br/>
    <md-content class="login-register-form" layout-padding>
        <div layout="column" layout-align="center center">
        <form name="registerForm"  novalidate>
            <div layout="row">
                <md-input-container>
                    <label>用户名</label>
                    <input md-maxlength="16" maxlength="16" minlength="4" required name="username"
                           ng-model="credentials.username">

                    <div ng-messages="loginForm.username.$error" >
                        <div ng-message="required" ng-if="!loginForm.username.$pristine">用户名不能为空.</div>
                        <div ng-message="minlength">用户名不得小于4位.</div>
                    </div>

                </md-input-container>
            </div>


            <div layout="row">

                <md-input-container>
                    <label>昵称</label>
                    <input required name="nickname" md-maxlength="8" maxlength="8" ng-model="credentials.nickname">

                    <div ng-messages="loginForm.nickname.$error" >
                        <div ng-message="required" ng-if="!loginForm.nickname.$pristine">昵称不能为空</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>性别</label>
                    <md-select ng-model="user.gender" ng-init="user.grade='男'" required>
                        <md-option value="男">
                            男
                        </md-option>
                        <md-option value="女">
                            女
                        </md-option>
                        <md-option value="保密">
                            保密
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <md-input-container>
                <label>邮箱</label>
                <input type="email" name="email" ng-model="credentials.email"
                       ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="registerForm.email.$error" role="alert">
                    <div ng-message="pattern" ng-if="!loginForm.email.$pristine">
                        好像这并不是一个正确的邮箱地址
                    </div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-input-container>
                    <label>密码</label>
                    <input required type="{{showpassword?'text':'password'}}" name="password" ng-model="credentials.password"
                           minlength="4" maxlength="16" md-maxlength="16"/>

                    <div ng-messages="loginForm.password.$error">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']" ng-if="!loginForm.password.$pristine">
                            密码长度必须在4-16位之间
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <!--<md-checkbox style="margin-bottom: 0" ng-model="showpassword" aria-label="显示密码">显示密码</md-checkbox>-->
                    <input type="checkbox" ng-model="showpassword" id="show" />
                </md-input-container>
            </div>

                <md-button ng-click="auth.register(credentials)" ng-disabled="loginForm.$invalid && !registering" class="md-raised md-primary ">注册</md-button>
        </form>
        </div>
    </md-content>
</div>